:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --accent-active-color: #188ce8;
  --white-color: #fff;
  --black-color: #000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --portfolio-border-color: #eee;
  --bgn-grey-color: #f5f4fa;
  --bgn-darkgrey-color: #2f303a;
}

/* general */

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui',
    'helvetica neue', 'helvetica', 'Cantarell', 'Ubuntu', 'noto', 'arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid teal; */
}

.header,
.hero,
.benefits,
.doings,
.team,
.portfolio,
.footer {
  /* outline: 1px solid tomato; */
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header and footer */

/* header flex settings */

.main-nav {
  display: flex;
  /* align-items: center; */
}

.left-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  /* outline: 1px solid tomato; */
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-top .item {
  outline: 1px solid tomato;
}

.contacts-top .item:not(:last-child) {
  margin-right: 50px;
}

.header-border {
  border-bottom: 1px solid var(--header-border-color);
}

/* styling */

.logo {
  font-family: 'Raleway', '-apple-system', 'BlinkMacSystemFont', 'avenir next', 'avenir', 'segoe ui',
    'helvetica neue', 'helvetica', 'Cantarell', 'Ubuntu', 'roboto', 'noto', 'arial', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header .logo {
  margin-right: 93px;
  color: var(--black-color);
}

.accent {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgn-darkgrey-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}

.contacts-bottom .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--white-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.footer .contact {
  color: var(--contacts-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* studio */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--bgn-darkgrey-color);
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.benefits-list {
  display: flex;
}

.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}

.benefits .title,
.team .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-color);
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits .text {
  line-height: 1.71;
}

.doings-list {
  display: flex;
  justify-content: space-between;
}

.doings {
  padding-top: 0px;
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bgn-grey-color);
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.team .image {
  margin-bottom: 30px;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
}

/* porfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list .portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio .content {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: 0;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
}

/* buttons */

.button {
  cursor: pointer;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus,
.button.primary:active {
  background-color: var(--accent-active-color);
}

.button.secondary {
  background-color: var(--bgn-grey-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  background-color: var(--accent-color);
  color: var(--white-color);
}
